<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bookmarked Foods</title>
</head>
<body>
    <div style="margin: 50px auto; width: 90%; max-width: 950px;">
        <h1>Your Bookmarked </h1>
        <ul>
            {% for food in bookmarked_foods %}
            <li>
                <img src="{{ food.image_url }}" alt="{{ food.name }}" style="width: 100px; height: auto;">
                <p>{{ food.name }} - Rp {{ food.price }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
