<!-- templates/food_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Food List</title>
</head>
<body>
    <h1>Food List</h1>
    <ul>
        {% for food in foods %}
            <li>
                {{ food.name }} - {{ food.restaurant }} - Rp{{ food.price }}
                <!-- Tombol Love -->
                <button onclick="toggleLike('{{ food.id }}')">Love</button>
            </li>
        {% empty %}
            <li>No foods available.</li>
        {% endfor %}
    </ul>

    <script>
        function toggleLike(foodId) {
            var baseUrl = "{% url 'bookmarks:add_bookmark' food_id='dummy-id' %}".replace('dummy-id', foodId);

            fetch(baseUrl, {
                method: 'POST', 
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', // Pastikan token CSRF diambil dengan benar
                    'Content-Type': 'application/json'
                },
                credentials: 'include'  // Pastikan cookie dikirim, termasuk CSRF cookie
            }).then(response => response.json()).then(data => {
                if (response.ok) {
                    alert("Added to bookmarks!"); // Atau update UI untuk menandai sebagai disukai
                } else {
                    alert("Failed to add bookmark.");
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
